{
    "$schema": "https://json.schemastore.org/prettierrc.json",
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "strict",
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "useTabs": false,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "proseWrap": "always",
                "printWidth": 100
            }
        }
    ]
}
