fastapi==0.104.1
pydantic>=1.8.0,<2.0.0
sqlmodel==0.0.10
uvicorn==0.23.2
pymongo==4.3.3
motor==3.1.1
psycopg2
python-multipart
boto3
botocore
python-jose
passlib
fastapi-jwt-auth
pytest
httpx
faker
requests
pyyaml
sentry-sdk[fastapi]
pydantic[email]>=1.8.0,<2.0.0
langchain==0.1.0
langchain-community
langchain-openai
tiktoken
openai
chromadb
sentence-transformers
python-dotenv
redis
